# Ignore everything in modules/ by default
*

# Allow specific configuration files
!.gitignore
!dashboard/
!dashboard/**
!editor/extensions.sh
!editor/openvscode-server/data/User/keybindings.json
!editor/openvscode-server/data/User/settings.json
!public/nginx.conf
